<html>
<head>
	<meta charset="UTF-8">
	<title>Fitness Club</title>

	<link href="js/extjs/classic/theme-triton/resources/theme-triton-all.css" rel="stylesheet" />
	<script type="text/javascript" src="js/extjs/ext-all-debug.js"></script>

	<script type="text/javascript" src="js/extjs/packages/charts/classic/charts-debug.js"></script>
	<link rel="stylesheet" type="text/css" href="js/extjs/packages/charts/classic/triton/resources/charts-all.css">
	

	<script type="text/javascript" src="/app/Application.js"></script>
</head>
<body>
<!-- extjs -->
</body>
</html>