<#import "/spring.ftl" as spring/>
 
<html>
   <head>
   <meta charset="UTF-8">
      <title>Person List</title>
 <!--      <link rel="stylesheet"
          type="text/css"
           href="<@spring.url '/css/style.css'/>"/>   -->    
   </head>   
   <body>
     <h1>Книга</h1>
     <br>
      <div>
      
           <#list city as city>
           <ul>
           <li>${city.name}</li>
            <#list city.clubs as clubs>
        		<ul>
               <li>${clubs.name}</li>
               </ul>
               
			</#list>
			</ul>
            </#list>
        
           
         <!-- <#list label as label>
      <h2>${label.footer}</h2>
      </#list> -->
      </div>
   </body>
</html>